In [ ]:
apple=["cjejcf","jeocv"]
apple

In [ ]:
apple.append("chws")

In [ ]:
apple

In [ ]:
my_list = ['p','r','o','b','e']
# Output: p
print(my_list[0])

# Output: o
print(my_list[2])

# Output: e
print(my_list[4])

# Error! Only integer can be used for indexing
# my_list[4.0]

# Nested List
n_list = ["Happy", [2,0,1,5]]

In [ ]:
# Nested indexing

# Output: a
print(n_list[0][1])    

# Output: 5
print(n_list[1][3])

# LOOPING/LOOPS FOR LOOPS

In [ ]:
for my_name in range(10):
    print("Abdul Rafay Riaz Naviwala")

In [ ]:
for my_name in range(10):
    print(my_name,"Abdul Rafay Riaz Naviwala")

In [ ]:
for num in range(1,10):
    print(num, "Pakistan")

In [ ]:
for num in range(10):
    print(num, "Pakistan")

In [ ]:
for num in range(6,10):
    print(num, "Pakistan")

In [ ]:
for num in range(12,10):
    print(num, "Pakistan")

In [ ]:
for num in range(0,10,2):
    print(num, "Pakistan")

In [ ]:
for num in range(0,10,2):
    print(num)

In [ ]:
for num_odds in range (1,10,2):   
    print(num_odds)

In [ ]:
for num_odds in range (1,int(10.2)):   #odd number
    print(num_odds)

# How to access numbers of list using a For Loop

In [ ]:
list1=[11,22,33,44,"55",66,77,True,99]
list1

In [ ]:
for num in list1:
    print(num)

In [ ]:
for num in list1:
    print(num,type(num))

In [ ]:
list1

In [ ]:
list1[3:6]

In [ ]:
list1[6]

In [ ]:
print(list1)

In [ ]:
(list1,type(list1))

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9]

In [ ]:
for even in numbers:
    if even%2==0:
        print(even)

In [ ]:
for odd in numbers:
    if odd%2==1:
        print(odd)

In [ ]:
memberList=[11,22,33,44,55,66,77,88,99]

In [ ]:
for member in memberList:
    if member%2 != 0:
        print(str(member)+" is odd")
    else:
        print(str(member)+" is even")

In [ ]:
for member in memberList:
    if member%2 != 0:
        print(member," is odd",sep="")
    else:
        print(member," is even",sep="")

In [ ]:
for member in memberList:
    if member%2 != 0:
        print(member," is odd")
    else:
        print(member," is even")

In [ ]:
memberList1=[11,22,33,44,55,66,77,88,99,...,305]

In [ ]:
memberList1

In [ ]:
oddNumberList=[]
evenNumberList=[]
message=""

list1=[1,2,3,4,5,6,7,8,9,10]

for num in list1:
    if num%2!=0:
        oddNumberList.append(num)
    else:
        evenNumberList.append(num)
        
message += "These are odd numbers :"

for odd in oddNumberList:
    message +=str(odd) + ", "
    
message += "and \n"

for even in evenNumberList:
    message += str(even) + ", "
    
message += "are even numbers"

print(message)

In [ ]:
even=[]
odd=[]
list1=[11,22,33,44,55,66,77,88]
for num in list1:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print('Even')
for ev in even:
    print(ev,end=' ')      #print function by default execute and moved on next line.End is used to determine ending of a line either to move to next line or continue with other criterias 
print('\nOdd')
for od in odd:
    print(od,end=' ')

In [ ]:
relatives=["jawwad","hammad","anas","rizwan"]
friends=["nawaz","shahbaz","asif","rizwan"]
for name in friends:
    relatives.append(name)
relatives

In [ ]:
print("close friends=rizwan")

In [2]:
names=['Anas','Tooba','Ali','Sara',"Ahmed",'Fatima']
for name in names[2:]:
    print(name.upper())

ALI
SARA
AHMED
FATIMA

In [11]:
food=["haleem",'biryani','zarda','nihari','qorma']
print("the first three items in the list are:"+str(food[:3]))
print("the middle three items in the list are:"+str(food[1:4]))
print("the last three items in the list are:"+str(food[2:]))

the first three items in the list are:['haleem', 'biryani', 'zarda']
the middle three items in the list are:['biryani', 'zarda', 'nihari']
the last three items in the list are:['zarda', 'nihari', 'qorma']

In [14]:
print("first three items are:-")
for name in food[:3]:
    print(name)
print("middle three items are:-")    
for name in food[1:4]:
    print(name)
print("last three items are:-")    
for name in food[2:]:
    print(name)

first three items are:-
haleem
biryani
zarda
middle three items are:-
biryani
zarda
nihari
last three items are:-
zarda
nihari
qorma